*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/app/src/main/res/xml/data_extraction_rules.xml
/app/src/test/java/com/rajit/bluetoothexample/ExampleUnitTest.kt
/gradlew.bat
/gradlew
/app/src/main/res/values/themes.xml
/app/src/main/res/values-night/themes.xml
